services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: always
    environment:
      USER_UID: 1000
      USER_GID: 100
      GITEA__database__DB_TYPE: postgres
      GITEA__database__HOST: db:5432
      GITEA__database__NAME: gitea
      GITEA__database__USER: gitea
      GITEA__database__PASSWD: gitea
    volumes:
      - ./gitea:/data
    ports:
      - "3300:3000"
      - "222:22"
    depends_on:
      - db
    networks:
      - default

  db:
    image: postgres:14
    container_name: gitea-db
    restart: always
    environment:
      POSTGRES_USER: gitea
      POSTGRES_PASSWORD: gitea
      POSTGRES_DB: gitea
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - default

  runner:
    build:
      context: .
      dockerfile: Dockerfile.runner
    container_name: gitea-runner
    restart: always
    environment:
      CONFIG_FILE: /config.yaml
      GITEA_INSTANCE_URL: "${INSTANCE_URL}"
      GITEA_RUNNER_REGISTRATION_TOKEN: "${REGISTRATION_TOKEN}"
      GITEA_RUNNER_NAME: "${RUNNER_NAME}"
    volumes:
      - ./runner_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.yaml:/config.yaml
    networks:
      - default

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    volumes:
      - ./runner_data/site:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    networks:
      - default

networks:
  default:
    driver: bridge
